### Pacotes

In [2]:
library(foreign)
library(readstata13)
library(plyr)
library(dplyr)

In [3]:
bases<-'/home/felipe/Desktop/Paper Bayesiana/Bases'

### Abrindo todas as bases necessÃ¡rias

In [7]:
#2012
context_12 <- read.dta13(paste(bases,"/2012/alunos_id.dta",sep=""), nonint.factors=T)
se_12 <- read.dta13(paste(bases,"/2012/Socioemo1_2012_facet.dta",sep=""), nonint.factors=T)
grades_12 <- read.dta13(paste(bases,"/2012/proficiencia_id.dta",sep=""), nonint.factors=T)
educ_moth_12 <- read.dta13(paste(bases,"/2012/escolaridade_mae.dta",sep=""), nonint.factors=T)

#2017
register_17 <- read.dta13(paste(bases,"/2017/Cadastro_2017.dta",sep=""), nonint.factors=T)
educ_moth_17 <- read.dta13(paste(bases,"/2017/escolaridade_mae.dta",sep=""), nonint.factors=T)
parents_17 <- read.dta13(paste(bases,"/2017/Pais_2017.dta",sep=""), nonint.factors=T)

#Censo Escolar
dic_escolas_12<-read.csv("/home/felipe/Desktop/Paper Bayesiana/Bases/2012/dic_escolas_12.csv", sep=";", header=T, encoding = "UTF-8")
censo_escolas_12<-read.csv("/home/felipe/Desktop/Paper Bayesiana/Bases/2012/censo2012_escolas.csv", sep=";", header=T, encoding = "UTF-8")

In [8]:
dim(parents_17)

[1] 1868  121

## Bases 12

### Contexto 12

In [9]:
vars<-c("id_lepes",'nome_aluno_12','sexo_12', 'serie_12',
        'escola_12', 'nome_escola_12',
        'aluno2_12','aluno3_2_12','aluno3_3_12','aluno11_12') 
  
context_12<-context_12[vars]
names(context_12)[(length(context_12)-3):length(context_12)] <- c("etnia_12","mes_nasc","ano_nasc",'reprov_antes_12_12')

In [10]:
context_12[1:3,]

  id_lepes nome_aluno_12            sexo_12   serie_12 escola_12
1 4        ADRIELLE RODRIGUES CRUZ  Feminino  5         4
2 5        ABIGAIL SILVA VIEIRA     Feminino  5        16
3 7        ABNER GABRIEL DOS SANTOS Masculino 6        22
  nome_escola_12           etnia_12 mes_nasc ano_nasc reprov_antes_12_12
1 DOUTOR SILVIO SARTI EMEF Pardo    9        2001     Nunca
2 WALDOMIRO GOMES EMEF     Pardo    6        2002     Nunca
3 ANNA PASSAMONTI BALARDIN Branco   9        2000     Nunca

### Socioemocional 12

In [11]:
vars<-c("id_lepes",'a_c_12', 'c_c_12', 'e_c_12', 'n_c_12', 'o_c_12', #Big 5
        'act_c_12', 'aes_c_12', 'alt_c_12', 'anx_c_12', 'ass_c_12', #Facets
        'cmp_c_12', 'dep_c_12', 'ids_c_12', 'ord_c_12', 'sfd_c_12') #Facets
  
se_12<-se_12[vars]

In [12]:
se_12[1:3,]

  id_lepes a_c_12     c_c_12      e_c_12     n_c_12       o_c_12     act_c_12
1   4      -0.4423963  0.48093842  0.6491935  0.225806452 -0.1684588  0.9583333
2  14      -0.3750000 -0.07670455  0.3046875 -0.054687500 -0.1562500  0.0600000
3 116      -0.4334975 -0.50689655 -0.5763547  0.004926108 -0.3524904 -0.7173913
  aes_c_12   alt_c_12   anx_c_12 ass_c_12   cmp_c_12   dep_c_12  ids_c_12
1 -0.3472222 -0.3472222 0.25      0.6083333  0.6805556  1.041667  0.1750000
2 -0.1466667 -0.2200000 0.00      0.4880000 -0.1866667 -1.060000 -0.2640000
3 -0.7391304 -1.1086957 0.50     -0.1413043  0.0000000 -1.782609 -0.1304348
  ord_c_12    sfd_c_12
1  0.04166667  0.9916667
2 -0.06000000  0.3120000
3  0.21739130 -0.4434783

### Grades 12

In [13]:
vars<-c("id_lepes",'habilidade_port_12','habilidade_mat_12') 
  
grades_12<-grades_12[vars]

In [14]:
grades_12[1:3,]

  id_lepes habilidade_port_12 habilidade_mat_12
1 1        58.67633           45.07105
2 2        70.39801           45.20639
3 3        71.52990           38.93849

### Escolaridade da mÃ£e 12

In [15]:
names(educ_moth_12) <- c('id_lepes', 'educmae1_12', 'educmae2_12', 'educmae3_12', 
                                     'educmae4_12', 'educmae5_12', 'educmae6_12')

In [16]:
educ_moth_12[1:3,]

  id_lepes educmae1_12 educmae2_12 educmae3_12 educmae4_12 educmae5_12
1 4        1           0           0           0           0
2 5        0           0           1           0           0
3 7        0           1           0           0           0
  educmae6_12
1 0
2 0
3 0

### Censo Escolar 12

In [17]:
vars<-c('pk_cod_entidade', 'id_dependencia_adm') 

censo_escolas_12 <- censo_escolas_12[vars]

In [18]:
names(censo_escolas_12)<-c('co_entidade', 'dep_esc_12')

In [19]:
censo_escolas_12 <- merge(dic_escolas_12,censo_escolas_12,by="co_entidade",all.x = TRUE)

In [20]:
#Changing factors
censo_escolas_12$dep_esc_12 <- as.factor(censo_escolas_12$dep_esc_12)
censo_escolas_12$dep_esc_12 <- mapvalues(censo_escolas_12$dep_esc_12, from = c('1','2', '3', '4'), 
                                                                      to = c('federal', 'estadual', 'municipal', 'privada'))

The following `from` values were not present in `x`: 1

In [21]:
levels(censo_escolas_12$dep_esc_12)

[1] "estadual"  "municipal" "privada"

In [22]:
censo_escolas_12[1:3,]

  co_entidade nome_escola_12                 dep_esc_12
1 35023486    ISAIAS JOSE FERREIRA DOUTOR    estadual
2 35023504    PROF RAUL DO PRADO VIANNA EMEF estadual
3 35023607    WINSTON CHURCHILL              estadual

## Bases 17

### Base registro 17

Creche

In [23]:
register_17[['creche_priv']] <- ifelse(register_17[['creche_priv_bolsa_17']]=='sim' | register_17[['creche_priv_sembolsa_17']]=='sim','sim', 
                                ifelse(register_17[['creche_priv_bolsa_17']]=='nao' & register_17[['creche_priv_sembolsa_17']]=='nao', 'nao', NA)) 

register_17[['creche_pub']] <- ifelse(register_17[['creche_mun_17']]=='sim' | register_17[['creche_est_17']]=='sim' | register_17[['creche_fed_17']]=='sim','sim', 
                               ifelse(register_17[['creche_mun_17']]=='nao' & register_17[['creche_est_17']]=='nao' & register_17[['creche_fed_17']]=='nao', 'nao', NA))

PrÃ©

In [24]:
register_17[['preesc_priv']] <- ifelse(register_17[['preesc_priv_bolsa_17']]=='sim' | register_17[['preesc_priv_sembolsa_17']]=='sim','sim', 
                                ifelse(register_17[['preesc_priv_bolsa_17']]=='nao' & register_17[['preesc_priv_sembolsa_17']]=='nao','nao', NA)) 

register_17[['preesc_pub']] <- ifelse(register_17[['preesc_mun_17']]=='sim' | register_17[['preesc_est_17']]=='sim' | register_17[['preesc_fed_17']]=='sim','sim', 
                               ifelse(register_17[['preesc_mun_17']]=='nao' & register_17[['preesc_est_17']]=='nao' & register_17[['preesc_fed_17']]=='nao', 'nao', NA))

SÃ©rie 17

In [25]:
register_17[['serie_17']] <- ifelse(register_17[['serie_17']]=='7_ANO_EF','7',
                             ifelse(register_17[['serie_17']]=='8_ANO_EF','8',
                             ifelse(register_17[['serie_17']]=='9_ANO_EF','9',
                             ifelse(register_17[['serie_17']]=='1_SERIE_EM','10',
                             ifelse(register_17[['serie_17']]=='2_SERIE_EM','11',
                             ifelse(register_17[['serie_17']]=='3_SERIE_EM','12',NA))))))

Selecionando variÃ¡veis

In [26]:
vars<-c("id_lepes",'serie_17','genero_17', 'cor_17', 
        'pais_incentivo_17', 'mora_pai_17', 'mora_mae_17', 'vive_pai_17', 'vive_mae_17',
        'creche_pub', 'creche_priv', 'preesc_pub', 'preesc_priv', #creche e preesc
        'reprov_17', 'reprov_1s_17', 'reprov_2s_17', 'reprov_3s_17', #reprov
        'reprov_4s_17', 'reprov_5s_17', 'reprov_6s_17', 'reprov_7s_17', #reprov
        'reprov_8s_17', 'reprov_1em_17', 'reprov_2em_17', 'trabalha_17', 'aband_17') #reprov

register_17 <- register_17[vars]

names(register_17)<-c("id_lepes",'serie_17','genero_17', 'cor_17', 
                        'pais_incentivo_17', 'mora_pai_17', 'mora_mae_17', 'vive_pai_17', 'vive_mae_17',
                        'creche_pub', 'creche_priv', 'preesc_pub', 'preesc_priv', #creche e preesc
                        'reprov_17', 'reprov_2a_17', 'reprov_3a_17', 'reprov_4a_17', #reprov
                        'reprov_5a_17', 'reprov_6a_17', 'reprov_7a_17', 'reprov_8a_17', #reprov
                        'reprov_9a_17', 'reprov_1em_17', 'reprov_2em_17', 'trabalha_17', 'aband_17')

In [27]:
register_17[1:3,]

  id_lepes serie_17 genero_17 cor_17 pais_incentivo_17 mora_pai_17 mora_mae_17
1  5       10       mulher    preta  sim, um pouco     sim         sim
2  8       11       homem     parda  sim, muito        sim         sim
3 14       11       homem     parda  sim, muito        nao         sim
  vive_pai_17 vive_mae_17 creche_pub â¯ reprov_4a_17 reprov_5a_17 reprov_6a_17
1 sim         sim         nao        â¯ nao          nao          nao
2 sim         sim         nao        â¯ nao          nao          nao
3 sim         sim         nao        â¯ nao          nao          nao
  reprov_7a_17 reprov_8a_17 reprov_9a_17 reprov_1em_17 reprov_2em_17
1 nao          nao          nao          nao           nao
2 nao          nao          nao          nao           nao
3 nao          nao          nao          nao           nao
  trabalha_17 aband_17
1 nao         nenhuma
2 nao         nenhuma
3 sim         nenhuma

### Escolaridade da mÃ£e 17

In [28]:
names(educ_moth_17) <- c('id_lepes', 'educmae1_17', 'educmae2_17', 'educmae3_17', 
                                     'educmae4_17', 'educmae5_17', 'educmae6_17', 'diverge')

In [29]:
educ_moth_17[1:3,]

  id_lepes educmae1_17 educmae2_17 educmae3_17 educmae4_17 educmae5_17
1 18       0           0           0           1           0
2 21       0           0           1           0           0
3 22       0           1           0           0           0
  educmae6_17 diverge
1 0           0
2 0           0
3 0           1

## Mergeando as bases

In [30]:
data_12 <- Reduce(function(...) merge(..., by='id_lepes', all=TRUE), list(context_12, se_12, grades_12, educ_moth_12))
data_17 <- Reduce(function(...) merge(..., by='id_lepes', all=TRUE), list(register_17, educ_moth_17))

In [31]:
data_17$esta_17 <- 1

In [32]:
data <- merge(data_12, data_17, by='id_lepes', all.x=TRUE)

In [33]:
remove(data_12)
remove(data_17)
remove(context_12)
remove(se_12)
remove(grades_12)
remove(educ_moth_12)
remove(register_17)
remove(educ_moth_17)

In [34]:
data$esta_17[is.na(data$esta_17)] <- 0

In [35]:
mean(data$esta_17)

[1] 0.6399269

VariÃ¡vel Etnia

In [36]:
data$etnia_12 <- mapvalues(data$etnia_12, from = c('Branco', 'Pardo', 'Preto', 'Amerelo', 'IndÃ­gena'), 
                           to = c('branca', 'parda', 'preta', 'amarela', 'indigena'))

In [37]:
data$etnia <- data$cor_17
data$etnia[is.na(data$etnia)] <- data$etnia_12[is.na(data$etnia)]

levels(data$etnia)

[1] "indigena" "preta"    "amarela"  "branca"   "parda"

VariÃ¡vel GÃªnero

In [38]:
data$sexo_12 <- mapvalues(data$sexo_12, from = c('Feminino', 'Masculino'), 
                                          to = c('mulher', 'homem'))

In [39]:
data$genero <- data$genero_17
data$genero[is.na(data$genero)] <- data$sexo_12[is.na(data$genero)]

levels(data$genero)

[1] "mulher" "homem"

In [40]:
#Estavam com gÃªnereo NA
homens <- c('DANILO PEREIRA MENDES DOS SANTOS', 'GABRIEL PEREIRA TORRES', 'JULIO CESAR DE OLIVEIRA NEVES', 
            'MAYCON DOUGLAS ALVES DA SILVA', 'PAULO HENRIQUE DA SILVA CORREIA', 'TIAGO PAIS SOBRINHO')
mulheres <- c('BRUNA APARECIDA MOSQUETI' , 'CHAIANE VICTORIA DA COSTA', 'ERICA OLIVEIRA SILVA',
              'KIMBERLY GONCALVES PEREIRA DIAS', 'MARIA EDUARDA DE CARVALHO',
              'STEFANIE CRISTINA VIANA RIBEIRO', 'VIVIANE MARIA DA SILVA NASCIMENTO')

#mulheres
index <- (data$nome_aluno_12 %in% mulheres)
data[index,]$genero <- 'mulher'

#homens
index <- (data$nome_aluno_12 %in% homens)
data[index,]$genero <- 'homem'

In [41]:
#Corrigindo inconsistÃªncias
homens <- c(340, 1364, 1580, 1608, 1618, 3787)
mulheres <- c(127, 387, 4382, 4791)

#mulheres
index <- (data$id_lepes %in% mulheres)
data[index,]$genero <- 'mulher'

#homens
index <- (data$id_lepes %in% homens)
data[index,]$genero <- 'homem'

ReprovaÃ§Ã£o antes 2012

In [42]:
data$reprov_antes_12_12 <- mapvalues(data$reprov_antes_12_12, from = c('Nunca', 'Uma', 'Duas', 'TrÃªs ou mais'), 
                                                                to = c('nao', 'sim', 'sim', 'sim'))

In [43]:
#data$reprov_antes_12_17 <- NA

In [44]:
#Explicar pq nÃ£o incluiu a sÃ©rie de 12

#serie 4
#index <- (data$serie_12==4) & !is.na(data$serie_12)
#data[index,]$reprov_antes_12_17 <- ifelse(data[index,]$reprov_2a_17=='sim' | data[index,]$reprov_3a_17=='sim', 'sim',
#                                   ifelse(is.na(data[index,]$reprov_2a_17), NA, 'nao'))

#serie 5
#index <- (data$serie_12==5) & !is.na(data$serie_12)
#data[index,]$reprov_antes_12_17 <- ifelse(data[index,]$reprov_2a_17=='sim' | data[index,]$reprov_3a_17=='sim' | data[index,]$reprov_4a_17=='sim', 'sim',
#                                   ifelse(is.na(data[index,]$reprov_1s_17), NA, 'nao'))

#serie 6
#index <- (data$serie_12==6) & !is.na(data$serie_12)
#data[index,]$reprov_antes_12_17 <- ifelse(data[index,]$reprov_2a_17=='sim' | data[index,]$reprov_3a_17=='sim' | data[index,]$reprov_4a_17=='sim' | data[index,]$reprov_5a_17 =='sim', 'sim',
#                                   ifelse(is.na(data[index,]$reprov_1s_17), NA, 'nao'))

In [45]:
#data$reprov_antes_12_17 <- as.factor(data$reprov_antes_12_17)

In [46]:
#Consolidando
#data$reprov_antes_12 <- NA
#data$reprov_antes_12 <- ifelse(data$reprov_antes_12_12=='sim','sim',
#                        ifelse(data$reprov_antes_12_17=='sim','sim',
#                        ifelse(is.na(data$reprov_antes_12_12) & is.na(data$reprov_antes_12_17),NA,'nÃ£o')))

#data$reprov_antes_12 <- as.factor(data$reprov_antes_12)

#levels(data$reprov_antes_12)

In [47]:
data$reprov_antes_12 <- data$reprov_antes_12_12

Reprovou entre 12 e 17

In [48]:
table(data$serie_17)

  10   11   12    7    8    9
1096  873   18   29  169  959

In [50]:
table(data$serie_12,data$serie_17)

     10  11  12   7   8   9
  4   7   0   0   2   9  32
  5 919  25   2   3  28 100
  6 112 783  16   1   6  25

In [51]:
data$reprov_8a_17 <- as.character(data$reprov_8a_17)
data$reprov_9a_17 <- as.character(data$reprov_9a_17)
data$reprov_1em_17 <- as.character(data$reprov_1em_17)
data$reprov_2em_17 <- as.character(data$reprov_2em_17)

In [52]:
data$reprov_8a_17 <- ifelse(data$serie_17=='7','nao',data$reprov_8a_17)
data$reprov_9a_17 <- ifelse(data$serie_17=='7' | data$serie_17=='8','nao',data$reprov_9a_17)
data$reprov_1em_17 <- ifelse(data$serie_17=='7' | data$serie_17=='8' | data$serie_17=='9','nao',data$reprov_1em_17)
data$reprov_2em_17 <- ifelse(data$serie_17=='7' | data$serie_17=='8' | data$serie_17=='9' | data$serie_17=='10','nao',data$reprov_2em_17)

In [53]:
data$reprov_depois_12<-NA

#serie 4
index <- (data$serie_12==4) & !is.na(data$serie_12)
data[index,]$reprov_depois_12 <- ifelse(data[index,]$reprov_4a_17=='sim' & data[index,]$reprov_antes_12=='nao', 'sim',
                                 ifelse(data[index,]$reprov_5a_17=='sim' | data[index,]$reprov_6a_17=='sim' | data[index,]$reprov_7a_17=='sim' | data[index,]$reprov_8a_17=='sim', 'sim',                                   
                                 ifelse(is.na(data[index,]$reprov_4a_17), NA, 'nao')))

#serie 5
index <- (data$serie_12==5) & !is.na(data$serie_12)
data[index,]$reprov_depois_12 <- ifelse(data[index,]$reprov_5a_17=='sim' & data[index,]$reprov_antes_12=='nao', 'sim',
                                 ifelse(data[index,]$reprov_6a_17=='sim' | data[index,]$reprov_7a_17=='sim' | data[index,]$reprov_8a_17=='sim' | data[index,]$reprov_9a_17=='sim', 'sim',                                   
                                 ifelse(is.na(data[index,]$reprov_5a_17), NA, 'nao')))

#serie 6
index <- (data$serie_12==6) & !is.na(data$serie_12)
data[index,]$reprov_depois_12 <- ifelse(data[index,]$reprov_6a_17=='sim' & data[index,]$reprov_antes_12=='nao', 'sim',
                                 ifelse(data[index,]$reprov_7a_17=='sim' | data[index,]$reprov_8a_17=='sim' | data[index,]$reprov_9a_17=='sim' | data[index,]$reprov_1em_17=='sim', 'sim',                                   
                                 ifelse(is.na(data[index,]$reprov_7a_17), NA, 'nao')))

data$reprov_depois_12 <- as.factor(data$reprov_depois_12)

EducaÃ§Ã£o da mÃ£e

In [54]:
data$educmae_12<-as.numeric(apply(data %>% select(educmae1_12:educmae6_12),1,which.max))
data$educmae_17<-as.numeric(apply(data %>% select(educmae1_17:educmae6_17),1,which.max))

In [55]:
data$educmae <- ifelse(is.na(data$educmae_17) | data$educmae_17 > data$educmae_12, data$educmae_12, data$educmae_17)
data$educmae <- as.factor(data$educmae)

In [56]:
data$educmae <- mapvalues(data$educmae, from = c('1', '2', '3', '4', '5', '6'), 
                                          to = c('nunca_estudou', 'ef1', 'ef2', 'em','superior','nao_sabe'))

levels(data$educmae)

[1] "nunca_estudou" "ef1"           "ef2"           "em"
[5] "superior"      "nao_sabe"

## Selecionando variÃ¡veis para exportar

Mergeando base do censo escolar

In [57]:
data <- merge(data,censo_escolas_12,by="nome_escola_12",all.x = TRUE)

Selecionando variÃ¡veis:

In [59]:
vars <- c('id_lepes', 'serie_12', 'serie_17', 'esta_17', 'mes_nasc', 'ano_nasc',
          'dep_esc_12', 'etnia', 'genero', 'reprov_antes_12', 'educmae',         #Demographic
          'creche_pub', 'creche_priv', 'preesc_pub', 'preesc_priv',              #Childhooh Ed.
          'act_c_12', 'aes_c_12', 'alt_c_12', 'anx_c_12', 'ass_c_12',            #Facets
          'cmp_c_12', 'dep_c_12', 'ids_c_12', 'ord_c_12', 'sfd_c_12',            #Facets
          'habilidade_port_12', 'habilidade_mat_12')                             #Grades

data <- data[vars]

Renomeando variÃ¡veis para inglÃªs:

In [60]:
names(data) <- c('id', 'grade_2012', 'grade_2017', 'follow_up', 'month', 'year',
                 'school_2012', 'ethinicity', 'gender', 'failed_before_2012', 'mother_educ',      #Demographic
                 'pre_k_pub', 'pre_k_priv', 'kinder_pub', 'kinder_priv',                #Childhooh Ed.
                 'act_2012', 'aes_2012', 'alt_2012', 'anx_2012', 'ass_2012',            #Facets
                 'cmp_2012', 'dep_2012', 'ids_2012', 'ord_2012', 'sfd_2012',            #Facets
                 'lang_2012', 'math_2012')                                              #Math & Port

Exportando csv

In [69]:
write.table(data,'/home/felipe/Desktop/Paper Bayesiana/Bases/bayesian_paper.csv', sep=";", dec='.')

In [70]:
2.2

[1] 2.2